:root {
  --white: #fff;
  --black: #000;
  --light-purple: #c3c1e5;
  --purple: #6c63ff;
  --dark-purple: #3e33f9;
  --red: #e10606;

  --overlay: rgba(37, 37, 37, 0.7);

  --base-font-family: "Montserrat", sans-serif;
  --base-font-size: 14px;
  --base-bg: var(--white);
  --base-border-radius: 5px;

  --input-height: 40px;
  --input-placeholder-color: var(--light-purple);
  --input-padding: 10px 15px;
  --input-border-color: var(--purple);

  --select-height: 40px;
  --select-padding: 10px 35px 10px 15px;
  --select-bg: var(--purple);
  --select-border-color: var(--purple);

  --btn-min-width: 100px;
  --btn-padding: 10px 15px;
  --btn-color: var(--white);
  --btn-bg: var(--purple);
  --btn-bg-hover: var(--dark-purple);
  --btn-border-color: var(--purple);

  --btn-outline-color: var(--purple);
  --btn-outline-bg: transparent;
  --btn-outline-color-hover: var(--white);
  --btn-outline-bg-hover: var(--purple);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 360px;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: 1.5;
  background: var(--base-bg);
  margin: 0;
}

.popup-active {
  overflow: hidden;
}

.popup-active .popup {
  opacity: 1;
  visibility: visible;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

input[type="search"],
input[type="text"] {
  width: 100%;
  height: var(--input-height);
  padding: var(--input-padding);
  border: 1px solid var(--input-border-color);
  border-radius: var(--base-border-radius);
}

input[type="search"]::placeholder,
input[type="text"]::placeholder {
  color: var(--input-placeholder-color);
}

select {
  width: 100%;
  height: var(--select-height);
  appearance: none;
  color: var(--white);
  background: var(--purple);
  padding: var(--select-padding);
  border: 1px solid var(--select-border-color);
  border-radius: var(--base-border-radius);
  cursor: pointer;
}

select:focus-visible,
input:focus-visible,
button:focus-visible {
  outline: 2px solid var(--dark-purple);
}

button {
  cursor: pointer;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

.btn {
  min-width: var(--btn-min-width);
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  color: var(--btn-color);
  background: var(--btn-bg);
  padding: var(--btn-padding);
  border: 1px solid var(--btn-border-color);
  border-radius: var(--base-border-radius);
  transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.btn:hover {
  background: var(--btn-bg-hover);
}

.btn.btn-outline {
  color: var(--btn-outline-color);
  background: var(--btn-outline-bg);
}

.btn.btn-outline:hover {
  color: var(--btn-outline-color-hover);
  background: var(--btn-outline-bg-hover);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(1);
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.todo-block {
  max-width: 500px;
  width: 100%;
  min-height: 100vh;
  padding: 30px 15px 100px;
  margin: 0 auto;
  position: relative;
}

.filter-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.input-holder,
.select-holder {
  position: relative;
}

.input-holder {
  width: calc(100% - 135px);
}

.select-holder {
  max-width: 150px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 2;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background: var(--overlay);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  z-index: 2;
}

.popup-block {
  min-height: 250px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background: var(--white);
  border-radius: 15px;
}

.popup .btn-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 -5px;
}

.popup .btn {
  margin: 5px;
}

.notes-holder {
  margin-bottom: 30px;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.notes-holder.is-animate {
  transition: none;
  opacity: 0;
  visibility: hidden;
}

.note {
  border-bottom: 1px solid var(--purple);
  position: relative;
}

.note label {
  padding: 10px 30px 10px 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.note input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.note .checkmark {
  min-width: 26px;
  height: 26px;
  margin-right: 10px;
  border: 1px solid var(--purple);
  border-radius: 2px;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.note .checkmark::before {
  content: "";
  width: 6px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 9px;
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  transform: rotate(45deg);
  transition: opacity 0.3s ease-in-out;
}

.note:hover .btn-delete {
  opacity: 1;
  visibility: visible;
}

.note:not(.checked):hover .btn-edit {
  opacity: 1;
  visibility: visible;
}

.note.checked label {
  text-decoration: line-through;
  opacity: 0.6;
}

.note.checked .checkmark {
  background: var(--purple);
}

.note.checked .checkmark::before {
  opacity: 1;
}

.btn-edit,
.btn-delete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background: transparent;
  border: none;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.btn-delete {
  right: 0;
}

.btn-delete:hover {
  color: var(--red);
}

.btn-delete svg {
  width: 24px;
}

.btn-edit {
  right: 30px;
}

.btn-edit:hover {
  color: var(--purple);
}

.btn-edit svg {
  width: 16px;
}

.btn-opener {
  display: block;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: auto;
  position: relative;
  background: var(--btn-bg);
  border: none;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 15px;
  bottom: 30px;
  transition: background 0.3s ease-in-out;
}

.btn-opener:hover {
  background: var(--btn-bg-hover);
}

.btn-opener::before,
.btn-opener::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
}

.btn-opener::before {
  width: 24px;
  height: 2px;
}

.btn-opener::after {
  width: 2px;
  height: 24px;
}

.main-img {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
